<div class="login-wrapper card">
	<div class="brand">
		<h1>Request Management</h1>
	</div>
	<h2>Login</h2>
	<form (ngSubmit)="submit()">
		<label>Username</label>
		<input name="username" [(ngModel)]="username" />

		<label>Password</label>
		<input type="password" name="password" [(ngModel)]="password" />

		<div style="margin-top:12px">
			<button type="submit">Login</button>
		</div>
	</form>
	<p style="color:#a00" *ngIf="error">{{error}}</p>
	<p style="margin-top:12px">Don't have an account? <a routerLink="/register">Register</a></p>
</div>
